<!DOCTYPE html>
<html>
    <head>
        <title>Django Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Blog</a></h1>
        </header>

        <div>
            <time>published: 28.06.2024, 10:00</time>
            <h2><a href="">Building REST APIs with Django</a></h2>
            <p>Building RESTful APIs is a common requirement for modern web applications, and Django provides a
                robust framework to do so with Django REST Framework (DRF). DRF is a powerful and flexible toolkit
                that makes it easy to build Web APIs. It includes features like serialization, authentication, and
                viewsets, which simplify the process of creating and managing APIs. With DRF, you can quickly develop
                and deploy APIs that are secure, performant, and scalable.</p>
        </div>
    </body>
</html>